@use 'sass:color';
@use '_variables';

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
table,
img {
	&:first-child {
		padding-top: 0;
	}
}
h1,
h2,
h3,
h4,
h5 {
	+ h1,
	+ h2,
	+ h3,
	+ h4,
	+ h5 {
		padding-top: 0;
	}
}
h1 {
	padding-top: 50px;
	font-size: clamp(40px, 5vw, 110px);
	font-weight: 500;
	letter-spacing: 3.36px;
	line-height: 1.5em;
	font-family: variables.$second-font;
}
h2 {
	font-family: variables.$second-font;
	padding-top: 50px;
	font-size: clamp(30px, 4vw, 50px);
	font-weight: 500;
	line-height: 1.5em;
	color: variables.$blue;
}
h3 {
	padding-top: 40px;
	font-size: clamp(25px, 3vw, 40px);
	font-weight: 700;
}
h4 {
	font-weight: 600;
	padding-top: 40px;
	font-size: clamp(20px, 3vw, 25px);
}
h5 {
	padding-top: 40px;
	font-size: clamp(18px, 3vw, 23px);
}
p,
li {
	font-size: clamp(18px, 3vw, 22px);
	padding-top: 25px;
	line-height: 1.5em;
	font-weight: 500;
	color: variables.$gray;
}
p {
	strong {
		font-weight: 600;
		font-size: clamp(20px, 3vw, 24px);
		color: variables.$dark;
	}
}

.text-center {
	.btns-group {
		justify-content: center;
	}
}
*[style*='text-align: center;'] {
	+ .btns-group {
		justify-content: center;
	}
}
.btns-group {
	display: flex;
	flex-wrap: wrap;
	&:not(:first-child) {
		margin-top: 30px;
	}
	.btn {
		margin-top: 6px;
		margin-bottom: 6px;
		&:not(:last-child) {
			margin-right: 20px;
		}
	}
}
.btn {
	display: inline-grid;
	grid-auto-flow: column;
	align-items: center;
	justify-content: space-between;
	grid-gap: 10px;

	font-size: clamp(22px, 2vw, 32px);
	font-weight: 700;
	padding: 10px 10px 10px clamp(30px, 5vw, 55px);
	background: variables.$light;
	border-color: variables.$dark;
	color: variables.$dark;
	border-radius: variables.$border-radius-full;

	transition: all 0.3s;

	&:not(.btn-icon) {
		border: 3px solid;
		box-shadow: 8px 8px 0 0 variables.$dark;
		&:hover,
		&:active {
			background: variables.$light;
			border-color: variables.$dark;
			color: variables.$dark;
		}

		&:hover {
			.block-icon {
				transform: scale(1.05);
			}
		}

		&:active {
			box-shadow: 4px 4px 0 0 variables.$dark;
			transform: translate(4px, 4px);
		}
	}
	@each $theme-name, $colors in variables.$btn-theme-colors {
		&.btn-#{$theme-name} {
			border-color: map-get($colors, 'border-color');
			background: map-get($colors, 'bg');
			color: map-get($colors, 'label-color');

			&:not(.btn-icon) {
				box-shadow: 8px 8px 0 0 map-get($colors, 'border-color');
				&:hover,
				&:active {
					border-color: map-get($colors, 'border-color');
					background: map-get($colors, 'bg');
					color: map-get($colors, 'label-color');
				}

				&:active {
					box-shadow: 4px 4px 0 0 map-get($colors, 'border-color');
				}
			}

			&.btn-icon {
				background: map-get($colors, 'icon-bg');
				color: map-get($colors, 'icon-color');
				border-color: map-get($colors, 'border-color'); // Ne met pas de couleur sur certains si je ne le remet pas
			}
			.block-icon {
				background: map-get($colors, 'icon-bg');
				color: map-get($colors, 'icon-color');
				border-color: map-get($colors, 'border-color');
			}
		}
	}
	&.btn-github {
		&.btn-icon {
			align-items: end;
			i {
				font-size: 28px;
				margin-right: 3px;
			}
		}
		.block-icon {
			align-items: end;
			i {
				margin-right: 3px;
				font-size: 65px;
			}
		}
	}
	.block-icon {
		margin-left: clamp(20px, 5vw, 70px);
		width: 85px;
		aspect-ratio: 1;
		align-items: center;
		justify-content: center;
		display: inline-flex;
		border: 3px solid variables.$dark;
		border-radius: variables.$border-radius-full;
		transition: transform 0.3s ease;

		i {
			font-size: 40px;
		}
	}
	&.btn-icon {
		aspect-ratio: 1;
		padding: 0;
		border-radius: variables.$border-radius-full;
		width: 40px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border: 2px solid;

		i {
			font-size: 20px;
		}

		&:hover {
			transform: scale(1.1);
		}
	}
	i.external-icon {
		font-size: 0.65em;
	}
	i {
		font-size: 0.9em;
		transition: color 0.3s ease;
	}
}
ul {
	list-style: none;
	margin-top: 20px;
	padding: 0px 0px 0px 0px;
	&:first-child {
		margin-top: 0;
	}
	li {
		display: block;
		position: relative;
		margin-top: 10px;
		padding: 0 0 0 26px;
		font-size: clamp(17px, 2vw, 20px);
		line-height: 1.3em;
		&::marker {
			content: none;
		}
		&:before {
			content: '';
			position: absolute;
			top: 0.475em;
			left: 0;
			display: block;

			width: 10px;
			height: 10px;
			background: variables.$blue;
		}
	}
}

nav ul,
ul.no-marker {
	margin: 0;
	padding: 0;

	li {
		margin: 0;
		padding: 0;

		&::marker {
			content: none;
		}
		&::before {
			display: none;
		}
	}
}

$gutter-sizes: 30, 45, 60, 75;

@each $gutter-size in $gutter-sizes {
	.row.large-gutters-#{$gutter-size} {
		margin-left: -#{$gutter-size}px;
		margin-right: -#{$gutter-size}px;
		> .col,
		> [class^='col-'],
		> [class*=' col-'] {
			padding-left: #{$gutter-size}px;
			padding-right: #{$gutter-size}px;
		}
	}
}

.content-row:not(:last-child) {
	margin-bottom: 60px;
}

@each $theme-name, $colors in variables.$theme-colors {
	.#{$theme-name}-bg {
		background: map-get($colors, 'bg');
		color: map-get($colors, 'text');

		strong {
			color: map-get($colors, 'strong-text');
		}

		::selection {
			color: map-get($colors, 'text-selection-color');
			background: rgba(map-get($colors, 'text-selection-bg'), 0.8);
		}
		::-moz-selection {
			color: map-get($colors, 'text-selection-color');
			background: rgba(map-get($colors, 'text-selection-bg'), 0.8);
		}

		h1 {
			color: map-get($colors, 'h1');
		}
		h2 {
			color: map-get($colors, 'h2');
		}
		h3 {
			color: map-get($colors, 'h3');
		}
		h4 {
			color: map-get($colors, 'h4');
		}
		h5 {
			color: map-get($colors, 'h5');
		}

		&.border-box {
			border: 3px solid map-get($colors, 'border-color');
		}
	}
}

.content-page {
	width: 100%;
	float: left;
	z-index: 20;
	position: relative;

	a:not(.btn) {
		color: variables.$blue;
		font-weight: 400;
		&:hover,
		&:active {
			color: darken(variables.$blue, 10%);
		}
	}
	img:not(.img-bg) {
		width: 100%;
		max-width: 100%;
		height: auto;
		vertical-align: top;
	}
}

.border-top-radius {
	border-top-left-radius: variables.$border-radius-huge;
	border-top-right-radius: variables.$border-radius-huge;
}
.border-bottom-radius {
	border-bottom-left-radius: variables.$border-radius-huge;
	border-bottom-right-radius: variables.$border-radius-huge;
}

.block-col {
	padding-top: 15px;
	padding-bottom: 15px;
}

section {
	width: 100%;
	float: left;
	position: relative;
	overflow-x: clip;
	&.sect-container {
		padding: 100px 0;

		.col-lg-3,
		.col-lg-4,
		.col-lg-6,
		.col-xl-3,
		.col-xl-4,
		.col-xl-6 {
			> .full-box,
			> .border-box {
				h3 {
					font-size: clamp(25px, 2vw, 40px);
				}
				h4 {
					font-size: clamp(20px, 1.3vw, 25px);
				}
			}
		}

		.full-box,
		.border-box {
			width: 100%;
			height: 100%;
			padding: clamp(25px, 2vw, 50px);
			border-radius: variables.$border-radius;
		}
		.sticky-col {
			position: relative;
			> div {
				top: 100px;
				position: sticky;
			}
		}

		&.default-bg {
			+ section.sect-container.light-blue-gradient-bg {
				padding-top: 0px !important;
			}
		}
		&.light-blue-gradient-bg {
			+ section.sect-container.light-blue-bg {
				padding-top: 0px !important;
			}
		}
		&.light-blue-bg {
			+ section.sect-container.blue-pink-yellow-gradient-bg {
				padding-top: 0px !important;
			}
		}
	}
}

@media only screen and (max-width: 1199px), only screen and (max-device-width: 1199px) {
	section {
		&.sect-container {
			.full-box,
			.border-box {
				padding: 30px;
			}
		}
	}
}

@media only screen and (max-width: 991px), only screen and (max-device-width: 991px) {
}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
	.border-top-radius {
		border-top-left-radius: variables.$border-radius-large;
		border-top-right-radius: variables.$border-radius-large;
	}
	.border-bottom-radius {
		border-bottom-left-radius: variables.$border-radius-large;
		border-bottom-right-radius: variables.$border-radius-large;
	}
	section {
		&.sect-container {
			padding: 75px 0;

			&:first-child {
				padding-top: 75px;
			}

			&:last-child {
				padding-bottom: 75px;
			}
		}
	}
}
@media only screen and (max-width: 575px), only screen and (max-device-width: 575px) {
	.btn {
		&.btn-email {
			word-break: break-all;
		}
		&.btn-github {
			.block-icon {
				i {
					font-size: 45px;
				}
			}
		}

		.block-icon {
			width: 65px;
			i {
				font-size: 30px;
			}
		}
	}

	section {
		&.sect-container {
			padding: 60px 0;
			&:first-child {
				padding-top: 60px;
			}
			&:last-child {
				padding-bottom: 60px;
			}
			.full-box,
			.border-box {
				padding: 20px;
			}
		}
	}
	.content-row:not(:last-child) {
		margin-bottom: 30px;
	}
}
