@use '_variables';
@use 'sass:color';

body {
	background-color: variables.$body-background;
	font-family: variables.$base-font;
	color: variables.$text-color;
	font-style: normal;

	div {
		/* Barre de défilement*/
		&::-webkit-scrollbar {
			width: 3px;
			height: 3px;
		}
		&::-webkit-scrollbar-button {
			width: 0px;
			height: 0px;
		}
		&::-webkit-scrollbar-thumb {
			background: variables.$blue;
			border: 0px none variables.$light;
			border-radius: 0px;
			&:hover,
			&:active {
				background: variables.$blue;
			}
		}
		&::-webkit-scrollbar-track {
			background: variables.$light;
			border: 0px none variables.$light;
			border-radius: 0px;
			&:hover,
			&:active {
				background: variables.$light;
			}
		}
		&::-webkit-scrollbar-corner {
			background: transparent;
		}
	}
}

.link-overflow,
.img-bg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-transition: all 0.6s; /* Safari */
	transition: all 0.6s;
}
.link-overflow {
	z-index: 10;
}
.img-bg {
	z-index: 1;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	max-width: 100%;
	&.fit-cover {
		object-fit: cover;
	}
	&.fit-contain {
		object-fit: contain;
	}
	&.fit-fill {
		object-fit: fill;
	}
	&.fit-unset {
		object-fit: unset;
	}

	&.position-center {
		object-position: center;
	}
	&.position-left {
		object-position: left;
	}
	&.position-right {
		object-position: right;
	}
	&.position-top {
		object-position: top;
	}
	&.position-top-left {
		object-position: top left;
	}
	&.position-top-right {
		object-position: top right;
	}
	&.position-bottom {
		object-position: bottom;
	}
	&.position-bottom-left {
		object-position: bottom left;
	}
	&.position-bottom-right {
		object-position: bottom right;
	}

	&.blur {
		filter: blur(3px);
	}
	&.grayscale {
		filter: grayscale(1);
	}
}

.featherlight {
	&:last-of-type {
		background: rgba(variables.$gray, 0.7);
	}
	.featherlight-close-icon {
		background: color.scale(variables.$blue, $lightness: 10%);
		width: 50px;

		color: variables.$light;
		font-weight: 700;
		line-height: 50px;

		cursor: pointer;
		transition: background 0.3s ease;

		&:hover,
		&:active {
			background: variables.$blue;
		}
	}
	.featherlight-content {
		background: none;
		padding: 0;
		border-bottom: none;
	}
	.featherlight-next,
	.featherlight-previous {
		background: linear-gradient(90deg, rgba(variables.$dark, 0) 0%, rgba(variables.$dark, 0.6) 100%);

		top: 0;
		left: 75%;
		right: 0;
		font-family: 'icomoon';

		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 0 25px;

		font-size: 0;
		transition: background 0.3s ease;

		&:hover,
		&:active {
			span {
				opacity: 1;
			}
		}
		span {
			display: block !important;
			width: auto;
			margin: 0 12px;

			color: variables.$light;
			font-size: 55px;
			font-weight: 400;
			text-shadow: none;
			line-height: 0;

			transform: translateY(-50%);

			opacity: 0.5;
			outline: none;
			transition: opacity 0.3s ease;
		}
	}
	.featherlight-previous {
		background: linear-gradient(-90deg, rgba(variables.$dark, 0) 0%, rgba(variables.$dark, 0.6) 100%);

		left: 0;
		right: 75%;
		justify-content: flex-start;
	}
	&.featherlight-iframe {
		.featherlight-content {
			width: 80%;
			max-width: 1200px;

			&::before {
				content: '';
				display: block;
				width: 100%;
				padding-bottom: 56.25%;
			}
			.featherlight-next,
			.featherlight-previous {
				z-index: 1;
				pointer-events: none;

				span {
					pointer-events: auto;
				}
			}
			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
}

// Media queries de bootstrap
@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
	.container,
	.container-fluid {
		padding: 0 50px !important;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: variables.$max-width-container !important;
	}
}

// Media queries du site
@media only screen and (max-width: 1199px), only screen and (max-device-width: 1199px) {
}

@media only screen and (max-width: 991px), only screen and (max-device-width: 991px) {
}

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
}

@media only screen and (max-width: 575px), only screen and (max-device-width: 575px) {
	.featherlight {
		&.featherlight-iframe {
			.featherlight-content {
				width: 100%;
			}
		}
	}
	.btn {
		font-size: 17px;
	}

	.featherlight {
		.featherlight-close-icon {
			width: 40px;
			line-height: 40px;
		}
		.featherlight-next,
		.featherlight-previous {
			padding: 0 15px;

			&:after {
				font-size: 40px;
			}
		}
	}
}
