@use 'sass:color';
@use '_variables';

// Hero de l'accueil
.home-hero {
	overflow: hidden;
	background: variables.$light;
	position: relative;
	.container {
		z-index: 10;
		position: relative;
		height: 100%;
	}
	.content {
		position: relative;
		z-index: 10;
		height: 100%;
		height: 100vh;
		min-height: 1250px;
		padding-top: 120px;

		.hero-gallery {
			margin-top: 150px;
			.hero-gallery-slider {
				overflow: visible;
				.slide {
					transition: transform 0.4s ease;
					transform: scale(1);
					position: relative;
					z-index: 1;
					box-sizing: border-box;

					&.swiper-slide-active {
						transform: scale(1);
						z-index: 3;
					}

					.swiper-slide-shadow-coverflow {
						border-radius: variables.$border-radius-large;
						overflow: hidden;
					}

					.media-container {
						transition: margin 0.4s ease;
						padding: 25px;
						background: variables.$dark;
						border-radius: variables.$border-radius-large;
					}

					.media {
						position: relative;
						aspect-ratio: 16/9;
						border-radius: variables.$border-radius;
						overflow: hidden;
					}
				}
			}
		}
	}

	&:after {
		content: '';
		display: inline-block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0.2;
		z-index: 1;

		background: radial-gradient(circle, rgba(variables.$color, 1) 0%, rgba(variables.$light, 1) 50%);
	}
}

// Hero du contenu
.content-hero {
	width: 100%;
	z-index: 10;
	position: relative;
	.container {
		height: 100%;
	}
	.content {
		position: relative;
		z-index: 10;
		height: 100%;
		padding: 150px 0 120px;
		text-align: center;
		h1 {
			display: inline-block;
			width: 100%;
			font-size: clamp(30px, 4vw, 50px);
			font-weight: 800;
		}
	}
	&:after {
		content: '';
		display: inline-block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
		opacity: 0.8;
	}
	.img-bg {
		z-index: 1;
	}
}
