@use 'sass:color';
@use '_variables';

// Hero de l'accueil
.home-hero {
	overflow-x: clip;
	position: relative;
	.container {
		z-index: 10;
		position: relative;
		height: 100%;
	}
	.content {
		position: relative;
		z-index: 10;
		height: 100%;
		height: 100vh;
		min-height: 1250px;
		padding-top: 120px;

		.hero-gallery {
			margin-top: 150px;
			.hero-gallery-slider {
				overflow: visible;
				.slide {
					transition: transform 0.4s ease;
					transform: scale(1);
					position: relative;
					z-index: 1;
					box-sizing: border-box;

					&.swiper-slide-active {
						transform: scale(1);
						z-index: 3;
					}

					.swiper-slide-shadow-coverflow {
						border-radius: variables.$border-radius-large;
						overflow: hidden;
					}

					.media-container {
						transition: margin 0.4s ease;
						padding: clamp(15px, 1.5vw, 25px);
						background: variables.$dark;
						border-radius: variables.$border-radius-large;
					}

					.media {
						position: relative;
						aspect-ratio: 16/9;
						border-radius: variables.$border-radius;
						overflow: hidden;
					}
				}
			}
		}
	}

	&:after {
		content: '';
		display: inline-block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0.2;
		z-index: 1;
	}

	@each $theme-name, $colors in variables.$theme-colors {
		&.#{$theme-name}-bg {
			&:after {
				background: radial-gradient(
					closest-side at 50% 50%,
					rgba(map-get($colors, 'decorative-glow'), 1) 0%,
					rgba(variables.$light, 0) 100%
				); //La 2e couleur c'est peu importe vu qu'elle est transparente.
			}
		}
	}
}

// Hero du contenu
.content-hero {
	width: 100%;
	z-index: 10;
	position: relative;
	.container {
		height: 100%;
	}
	.content {
		position: relative;
		z-index: 10;
		height: 100%;
		padding: 150px 0 120px;
		text-align: center;
		h1 {
			display: inline-block;
			width: 100%;
		}
	}
	&:after {
		content: '';
		display: inline-block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0.2;
		z-index: 1;
	}
	@each $theme-name, $colors in variables.$theme-colors {
		&.#{$theme-name}-bg {
			&:after {
				background: radial-gradient(
					closest-side at 50% 50%,
					rgba(map-get($colors, 'decorative-glow'), 1) 0%,
					rgba(variables.$light, 0) 100%
				); //La 2e couleur c'est peu importe vu qu'elle est transparente.
			}
		}
	}
}

// Hero des projets
.project-hero {
	width: 100%;
	z-index: 10;
	position: relative;

	.container {
		height: 100%;
	}

	.content {
		position: relative;
		z-index: 10;
		height: 100%;
		padding: 150px 0 120px;
		// text-align: center;
		h1 {
			display: inline-block;
			width: 100%;
		}

		.image {
			aspect-ratio: 16/9;
		}
	}
}

@media only screen and (max-width: 1199px), only screen and (max-device-width: 1199px) {
	.home-hero {
		.content {
			min-height: unset;
			height: 100%;
			.hero-gallery {
				margin-top: 80px;
			}
		}
	}
}
@media only screen and (max-width: 991px), only screen and (max-device-width: 991px) {
}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
}
@media only screen and (max-width: 575px), only screen and (max-device-width: 575px) {
}
