@view-transition {
	navigation: auto;
}

@media not (prefers-reduced-motion: reduce) {
	.project-hero {
		.content {
			h1 {
				view-transition-name: project-title;
			}
		}
	}

	.latest-project-block {
		.contents {
			h3 {
				view-transition-name: project-title;
			}
		}
	}
}
