@use '_variables';

.project-page {
	h2.informations-title {
		font-size: clamp(30px, 4vw, 50px);
		font-weight: 300;
		line-height: 1.8em;
	}

	hr {
		border-top: 3px solid variables.$gray;
		opacity: 0.3;
		border-radius: variables.$border-radius-full;
	}

	.project-informations-block {
		.information {
			position: relative;
			padding: 30px 0;
			&:not(:last-child) {
				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					height: 2px;
					background: variables.$gray;
					opacity: 0.3;
					border-radius: variables.$border-radius-full;
				}
			}
			.label {
				display: block;
				font-size: clamp(18px, 3vw, 22px);
				line-height: 1.5em;
				font-weight: 500;
			}
			p {
				padding-top: 5px;
			}
		}
	}

	.gallery-block {
		display: grid;
		grid-template-columns: repeat(6, 1fr);

		.media {
			position: relative;
		}
	}
}
