@use 'sass:map';
@use '_variables';

.about-image {
	aspect-ratio: 1;
	max-width: 420px;
	width: 100%;
	border-radius: variables.$border-radius-full;
	overflow: hidden;
	img {
	}
}

@each $theme-name, $colors in variables.$theme-colors {
	.#{$theme-name}-bg {
		.about-image {
			box-shadow: 0px 0px 200px map.get($colors, 'decorative-glow');
		}
	}
}
