@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?86isuo');
  src:  url('fonts/icomoon.eot?86isuo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?86isuo') format('truetype'),
    url('fonts/icomoon.woff?86isuo') format('woff'),
    url('fonts/icomoon.svg?86isuo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-communication:before {
  content: "\e914";
}
.icon-book:before {
  content: "\e915";
}
.icon-magnifier:before {
  content: "\e916";
}
.icon-archive:before {
  content: "\e913";
}
.icon-arrow-external:before {
  content: "\e912";
}
.icon-arrow-up:before {
  content: "\e900";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-chevron-up:before {
  content: "\e904";
}
.icon-chevron-down:before {
  content: "\e905";
}
.icon-chevron-left:before {
  content: "\e906";
}
.icon-chevron-right:before {
  content: "\e907";
}
.icon-download:before {
  content: "\e908";
}
.icon-phone:before {
  content: "\e909";
}
.icon-mail:before {
  content: "\e90a";
}
.icon-diagram:before {
  content: "\e90b";
}
.icon-crown:before {
  content: "\e90c";
}
.icon-umbrella:before {
  content: "\e90d";
}
.icon-youtube:before {
  content: "\e90e";
}
.icon-discord:before {
  content: "\e90f";
}
.icon-github:before {
  content: "\e910";
}
.icon-linkedin:before {
  content: "\e911";
}
