---
permalink: ressources/js/scripts.js
---

{# Node modules #}
{% include "../../node_modules/jquery/dist/jquery.min.js" %}
{% include "../../node_modules/bootstrap/dist/js/bootstrap.min.js" %}
{% include "../../node_modules/featherlight/release/featherlight.min.js" %}
{% include "../../node_modules/featherlight/release/featherlight.gallery.min.js" %}
{% include "../../node_modules/swiper/swiper-bundle.min.js" %}
{% include "../../node_modules/aos/dist/aos.js" %}

{# Fichiers local #}
{% include "./init.js" %}

{% include "./header.js" %}
{% include "./hero.js" %}