---
title: Mon portfolio
defaultTitle: Jade Larouche, développeuse Full Stack
email: jlaroucheweb@gmail.com
github: https://github.com/jlarouche11
linkedin: #
---

<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }} | {{ defaultTitle }}</title>

	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" type="text/css" href="/ressources/styles/styles.css">

	<link rel="stylesheet" type="text/css" href="/ressources/fonts/icomoon/style.css">
</head>
<body>
	<header class="main-header light-text">
		<div class="main-header-inner px-sm-2">
			<div class="container-fluid xxl-container-margins">
				<div class="row justify-content-between">
					<div class="col col-lg-auto d-flex align-items-center">
						<div class="logo">
							<a href="/index.html">
								<img src="/ressources/images/logo.svg" alt="Logo"/>
							</a>
						</div>
					</div>
					<div class="col col-auto d-none d-lg-block">
						<nav>
							<ul>
								<li class="submenu"><a>Mes réalisations <i class="icon-chevron-down"></i></a>
									<ul>
										{% for project in collections.projects | reverse %}
											<li><a href="{{ project.url }}">{{ project.data.title }}</a></li>
										{% endfor %}
									</ul>
								</li>
							</ul>
						</nav>
					</div>
					<div class="col-auto d-none d-lg-block">
						<div class="btns-group d-flex align-items-center">
							{# <a href="tel:#" class="btn btn-icon btn-yellow"><i class="icon-phone"></i></a> #}
							<a href="mailto:{{ email }}" class="btn btn-icon btn-pink"><i class="icon-mail"></i></a>
							<a href="{{ github }}" target="_blank" class="btn btn-icon btn-github"><i class="icon-github"></i></a>
							<a href="{{ linkedin }}" target="_blank" class="btn btn-icon btn-linkedin"><i class="icon-linkedin"></i></a>
						</div>
					</div>
					<div class="col-auto d-lg-none">
						<div class="nav-btn">
							<div class="toggle-menu">
								<span class="line line-1"></span>
								<span class="line line-2"></span>
								<span class="line line-3"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="navigation">
			<nav>
				<ul>
					<li><a href="/index.html">Accueil</a></li>
					<li class="submenu">
						<a class="colapse-link collapsed" data-bs-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse">Mes réalisations <i class="icon-chevron-down"></i></a>
						<ul class="collapse" id="collapse1">
							{% for project in collections.projects | reverse %}
								<li><a href="{{ project.url }}">{{ project.data.title }}</a></li>
							{% endfor %}
						</ul>
					</li>
					<li class="btns">
						<div class="btns-group d-flex align-items-center justify-content-center">
							{# <a href="tel:#" class="btn btn-icon btn-yellow"><i class="icon-phone"></i></a> #}
							<a href="mailto:{{ email }}" class="btn btn-icon btn-pink"><i class="icon-mail"></i></a>
							<a href="{{ github }}" target="_blank" class="btn btn-icon btn-github"><i class="icon-github"></i></a>
							<a href="{{ linkedin }}" target="_blank" class="btn btn-icon btn-linkedin"><i class="icon-linkedin"></i></a>
						</div>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	{{ content | safe }}
	<footer class="blue-pink-yellow-gradient-bg border-top-radius">
		<div class="container">
			<div class="footer-top-bar">
				<div class="row content-row justify-content-center">
					<div class="col-12 col-lg-8 block-col">
						<h2 class="text-center mb-5" data-aos="fade-up" data-aos-duration="700">Pour me contacter</h2>
						<div class="buttons-grid">
							<a href="mailto:{{ email }}" class="btn btn-pink btn-email take-entire-column">{{ email }} <div class="block-icon"><i class="icon-mail"></i></div></a>
							<a href="{{ github }}" target="_blank" class="btn btn-github">Github <div class="block-icon"><i class="icon-github"></i></div></a>
							<a href="{{ linkedin }}" target="_blank" class="btn btn-linkedin">LinkedIn <div class="block-icon"><i class="icon-linkedin"></i></div></a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom-bar">
				<div class="d-flex align-items-center justify-content-between">
					<p>2025 © Jade Larouche</p>
				</div>
			</div>
		</div>
	</footer>
<script src="/ressources/js/scripts.js"></script>
</body>
</html>