---
layout: base-project.njk
permalink: projets/aubergeleparasol.html
title: Auberge et Resto Le Parasol
mainImage: /ressources/images/projects/aubergeleparasol/website-thumbnail.png
year: 2024
summary: TODO mettre une description ici
languages: HTML, CSS, JS, PHP
tasks: Intégration complète du site internet selon le visuel fourni, création d'animations avec GSAP, ajout d'un système bilingue.
libraries: GSAP
link: https://aubergeleparasol.com
archivedLink: https://web.archive.org/web/20251104191620/https://aubergeleparasol.com/
btnColor: btn-pink
tags: projects
gallery: 
 - ["type": "youtube", "source":"https://youtu.be/m6CHo8l48AM"]
 - ["type": "youtube", "source":"https://youtu.be/mSFxo5rb3QU"]
---

<p>Lorem ipsum dolor sit amet consectetur adipiscing https://stackoverflow.com/questions/77695031/how-can-i-iterate-over-an-array-of-front-matter-data-in-eleventy</p>