---
layout: base-project.njk
permalink: projets/ccisf.html
title: Chambre de commerce et d'industrie Saguenay-Le Fjord
mainImage: /ressources/images/projects/ccisf/website-thumbnail.png
year: 2023
summary: TODO mettre une description ici
languages: HTML, CSS, JS, PHP
tasks: Intégration complète du site internet selon le visuel fourni, création de formulaires d'adhésion et de paiement communiquant avec une API externe, création d'un intranet pour les membres de la chambre.
technologies: API Membri, API Paysafe
link: https://ccisf.ca
archivedLink: https://web.archive.org/web/20251104192920/https://ccisf.ca/
btnColor: btn-blue
tags: projects
gallery: 
 - ["type": "youtube", "source":"https://youtu.be/ToBtZhhhy5M"]
 - ["type": "youtube", "source":"https://youtu.be/GIXxqvcUlUY"]
---

<p>Lorem ipsum dolor sit amet consectetur adipiscing https://stackoverflow.com/questions/77695031/how-can-i-iterate-over-an-array-of-front-matter-data-in-eleventy</p>