---
layout: base-project.njk
permalink: projets/circuitgourmand.html
title: Circuit Gourmand de Saint-Fulgence
mainImage: /ressources/images/projects/circuitgourmand/website-thumbnail.png
year: 2025
summary: TODO trouver une description ici
languages: HTML, CSS, JS, PHP
tasks: Intégration complète du site internet selon le visuel fourni, création d'une carte interactive affichant les organismes faisant parti du Circuit Gourmand, création d'un répertoire des organismes faisant parti du Circuit Gourmand, ajout d'un module de météo utilisant une API externe, ajout d'un système bilingue.
technologies: API Google Maps, API OpenWeather 
link: https://circuitgourmand.ca
archivedLink: https://web.archive.org/web/20251104182824/https://circuitgourmand.ca/
btnColor: btn-yellow
tags: ["projects", "projectsHome"]
gallery: 
 - ["type": "youtube", "source":"https://youtu.be/XIZIOZ4KGBI"]
 - ["type": "youtube", "source":"https://youtu.be/uOg5yoHi6Dk"]
---

<p>Lorem ipsum dolor sit amet consectetur adipiscing https://stackoverflow.com/questions/77695031/how-can-i-iterate-over-an-array-of-front-matter-data-in-eleventy</p>