---
layout: base-project.njk
permalink: projets/flamand-co.html
title: Flamand & Co.
mainImage: /ressources/images/projects/flamand-co/website-thumbnail.png
summary: TODO trouver une description ici
languages: HTML, CSS, JS, PHP
tasks: Intégration complète du site internet selon le visuel fourni.
link: https://flamand-co.com
archivedLink: https://web.archive.org/web/20251113163655/https://flamand-co.com/
btnColor: btn-yellow
tags: projects
---

<p>Lorem ipsum dolor sit amet consectetur adipiscing https://stackoverflow.com/questions/77695031/how-can-i-iterate-over-an-array-of-front-matter-data-in-eleventy</p>