---
layout: base-project.njk
permalink: projets/l-imprimeur.html
title: L'Imprimeur Brode Promo Chic
mainImage: /ressources/images/projects/l-imprimeur/website-thumbnail.png
year: 2025
summary: TODO mettre du texte ici.
languages: HTML, CSS, JS, PHP
tasks: Intégration complète du site internet selon le visuel fourni, création d'animations avec GSAP.
libraries: GSAP
link: https://l-imprimeur.ca
archivedLink: https://web.archive.org/web/20251104195221/https://l-imprimeur.ca/
btnColor: btn-yellow
tags: projects
---

<p>Lorem ipsum dolor sit amet consectetur adipiscing https://stackoverflow.com/questions/77695031/how-can-i-iterate-over-an-array-of-front-matter-data-in-eleventy</p>