---
layout: base-project.njk
permalink: projets/lesfousduroi.html
title: La Troupe Les Fous du Roi
mainImage: /ressources/images/projects/lesfousduroi/website-thumbnail.png
year: 2025
summary: Un site haut en couleur pour la troupe d'artistes Les Fous du Roi.
languages: HTML, CSS, JS, PHP
tasks: Intégration complète du site internet selon le visuel fourni et création d'animations avec GSAP.
libraries: GSAP
link: https://lesfousduroi.ca
archivedLink: https://web.archive.org/web/20251103220302/https://lesfousduroi.ca/
btnColor: btn-pink
tags: ["projects", "projectsHome"]
gallery: 
 - {"type": "youtube", "source":"1gBLpGbK6uE"}
 - {"type": "youtube", "source":"wQX42ribxMM"}
---

<p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium purus pellentesque, finibus lacus sit amet, scelerisque risus. Aenean tincidunt tortor lobortis, cursus mi vitae, iaculis libero. Suspendisse mollis lacinia orci, quis faucibus nisl varius vitae. Etiam placerat nulla magna, sed dictum lacus mollis id. Suspendisse potenti. Pellentesque posuere ullamcorper mauris, ac porttitor risus egestas vitae. Vestibulum nisi nulla, porttitor ut magna vel, finibus imperdiet augue. In hac habitasse platea dictumst. Proin pharetra, tortor sit amet bibendum pharetra, arcu mi accumsan nisl, eu pretium augue nunc non nibh. Curabitur sed viverra nisl. In ultricies rutrum porttitor. Pellentesque sit amet sem consectetur, placerat purus sed, maximus magna. Curabitur ac quam metus. Nulla et lacus a dolor finibus fermentum.</strong></p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium purus pellentesque, finibus lacus sit amet, scelerisque risus. Aenean tincidunt tortor lobortis, cursus mi vitae, iaculis libero. Suspendisse mollis lacinia orci, quis faucibus nisl varius vitae. Etiam placerat nulla magna, sed dictum lacus mollis id. Suspendisse potenti. Pellentesque posuere ullamcorper mauris, ac porttitor risus egestas vitae. Vestibulum nisi nulla, porttitor ut magna vel, finibus imperdiet augue. In hac habitasse platea dictumst. Proin pharetra, tortor sit amet bibendum pharetra, arcu mi accumsan nisl, eu pretium augue nunc non nibh. Curabitur sed viverra nisl. In ultricies rutrum porttitor. Pellentesque sit amet sem consectetur, placerat purus sed, maximus magna. Curabitur ac quam metus. Nulla et lacus a dolor finibus fermentum.</p>