---
layout: base-project.njk
permalink: projets/lesfousduroi.html
name: La Troupe Les Fous du Roi
title: La Troupe Les Fous du Roi
mainImage: /ressources/images/projects/lesfousduroi/website-thumbnail.png
summary: Un site haut en couleur pour la troupe d'artistes Les Fous du Roi.
languages: HTML, SCSS, JS, PHP
tasks: Intégration complète du site internet selon le visuel fourni, création d'animations avec GSAP.
libraries: GSAP
link: https://lesfousduroi.ca
archivedLink: https://web.archive.org/web/20251103220302/https://lesfousduroi.ca/,
btnColor: btn-pink
tags: projects
gallery: 
 - ["type": "youtube", "source":"https://youtu.be/1gBLpGbK6uE"]
 - ["type": "youtube", "source":"https://youtu.be/wQX42ribxMM"]
---

<p>Lorem ipsum dolor sit amet consectetur adipiscing https://stackoverflow.com/questions/77695031/how-can-i-iterate-over-an-array-of-front-matter-data-in-eleventy</p>