---
layout: base-project.njk
permalink: projets/mongazebo.html
title: MonGazebo
mainImage: /ressources/images/projects/mongazebo/website-thumbnail.png
year: 2023
summary: TODO mettre du texte ici.
languages: HTML, CSS, JS, PHP
tasks: Intégration complète du site internet selon le visuel fourni, création d'un système de personnalisation de gazebo avec plan et système de gestion de soumission, ajout d'un système bilingue.
technologies: Vue, Html2Pdf (PHP)
link: https://mongazebo.ca
archivedLink: https://web.archive.org/web/20251104155409/https://mongazebo.ca/
btnColor: btn-pink
tags: ["projects", "projectsHome"]
---

<p>Lorem ipsum dolor sit amet consectetur adipiscing https://stackoverflow.com/questions/77695031/how-can-i-iterate-over-an-array-of-front-matter-data-in-eleventy</p>