---
layout: base-project.njk
permalink: projets/panoramamedia.html
title: Panorama Média
mainImage: /ressources/images/projects/panoramamedia/website-thumbnail.png
summary: TODO mettre du texte ici.
languages: HTML, CSS, JS, PHP
tasks: Intégration complète du site internet selon le visuel fourni, création d'animations avec GSAP, création d'une carte interactive affichant les emplacements des panneaux, création d'un système permettant de créer une sélection de panneaux et de l'enregistrer dans un PDF, création d'un simulateur d'affichage de panneaux avec enregistrement en PDF.
libraries: GSAP
technologies: API Google Maps, ImageMagick, Html2Pdf (PHP)
link: https://panoramamedia.ca
archivedLink: https://web.archive.org/web/20251104162006/https://panoramamedia.ca/
btnColor: btn-yellow
tags: projects
---

<p>Lorem ipsum dolor sit amet consectetur adipiscing https://stackoverflow.com/questions/77695031/how-can-i-iterate-over-an-array-of-front-matter-data-in-eleventy</p>