---
layout: base-project.njk
permalink: projets/pulsarinformatique.html
title: Pulsar
mainImage: /ressources/images/projects/pulsarinformatique/website-thumbnail.png
year: 2024
summary: (TODO Trouver de l'inspiration pour écrire un petit descriptif ici. Mentionner la modularité du site)
languages: HTML, CSS, JS, PHP
tasks: Intégration complète du site internet selon le visuel fourni, création d'animations avec GSAP, intégration d'une landing page en adaptant un visuel fait avec ThreeJS, création d'un système de divisions dynamique avec thème de couleur personnalisable, ajout d'un système bilingue.
libraries: GSAP, ThreeJS
link: https://pulsarinformatique.ca
archivedLink: https://web.archive.org/web/20251104151231/https://pulsarinformatique.ca/
btnColor: btn-blue
tags: ["projects", "projectsHome"]
gallery: 
 - ["type": "youtube", "source":"https://youtu.be/Ye9YSb7DxZw"]
 - ["type": "youtube", "source":"https://youtu.be/8kqOck0JnSA"]
---

<p>Lorem ipsum dolor sit amet consectetur adipiscing https://stackoverflow.com/questions/77695031/how-can-i-iterate-over-an-array-of-front-matter-data-in-eleventy</p>