---
layout: base-project.njk
permalink: projets/projet-de-test.html
title: Projet de test | Jade Larouche
mainImage: test/test-website-thumbnail.png
summary: Lorem ipsum dolor sit amet consectetur adipiscing
languages: HTML, SCSS, JS, PHP
libraries: GSAP
link: https://lesfousduroi.ca
archivedLink: https://web.archive.org/web/20251103220302/https://lesfousduroi.ca/
tags: projects
gallery: 
 - ["type": "image", "source":"ressources/images/test/test-website-thumbnail.png"]
 - ["type": "youtube", "source":"https://youtu.be/VWfSNezeQCc?si=lYXzN2atL0QaylSK"]
---

<p>Lorem ipsum dolor sit amet consectetur adipiscing https://stackoverflow.com/questions/77695031/how-can-i-iterate-over-an-array-of-front-matter-data-in-eleventy</p>