---
layout: base-project.njk
permalink: projets/troc09.html
title: Table Régionale des Organismes Communautaire de la Côte-Nord (TROC-CDC)
mainImage: /ressources/images/projects/troc09/website-thumbnail.png
summary: TODO mettre du texte ici.
languages: HTML, CSS, JS, PHP
tasks: Intégration complète du site internet selon le visuel fourni, création d'un système de bottin des organismes avec un système de modification et d'ajout de contenu pour les organismes membres, ajout d'un système bilingue.
technologies: Vue
link: https://troc09.org
archivedLink: https://web.archive.org/web/20251104155409/https://mongazebo.ca/
btnColor: btn-blue
tags: projects
---

<p>Lorem ipsum dolor sit amet consectetur adipiscing https://stackoverflow.com/questions/77695031/how-can-i-iterate-over-an-array-of-front-matter-data-in-eleventy</p>