---
layout: base.njk
permalink: index.html
---

<div class="home-hero">
	<div class="container">
		<div class="content row align-items-center">
			<div class="col-12 text-center">
				<h2>Surtitre au besoin</h2>
				<h1>Titre principal de la page, phrase d’accroche.</h1>
				<p><strong>Petite phrase description d’accompagnement à la phrase d’accroche, pour définir mieux la première phrase.</strong></p>

				{# <div class="hero-gallery">
					<div class="hero-gallery-slider-container">
						<div class="hero-gallery-slider">
							<div class="slide">
								<div class="media-container">
									<div class="media image">
										<a href="#" class="link-overflow"></a>
										<img src="ressources/images/test/test-website-thumbnail.png" alt="" class="img-bg fit-cover position-center">
									</div>
								</div>
							</div>
							<div class="slide">
								<div class="media-container">
									<div class="media image">
										<a href="#" class="link-overflow"></a>
										<img src="ressources/images/test/test-website-thumbnail.png" alt="" class="img-bg fit-cover position-center">
									</div>
								</div>
							</div>
							<div class="slide">
								<div class="media-container">
									<div class="media image">
										<a href="#" class="link-overflow"></a>
										<img src="ressources/images/test/test-website-thumbnail.png" alt="" class="img-bg fit-cover position-center">
									</div>
								</div>
							</div>
							<div class="slide">
								<div class="media-container">
									<div class="media image">
										<a href="#" class="link-overflow"></a>
										<img src="ressources/images/test/test-website-thumbnail.png" alt="" class="img-bg fit-cover position-center">
									</div>
								</div>
							</div>
							<div class="slide">
								<div class="media-container">
									<div class="media image">
										<a href="#" class="link-overflow"></a>
										<img src="ressources/images/test/test-website-thumbnail.png" alt="" class="img-bg fit-cover position-center">
									</div>
								</div>
							</div>
							<div class="slide">
								<div class="media-container">
									<div class="media image">
										<a href="#" class="link-overflow"></a>
										<img src="ressources/images/test/test-website-thumbnail.png" alt="" class="img-bg fit-cover position-center">
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div> #}

				<div class="hero-gallery">
					<div class="hero-gallery-slider swiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide slide">
								<div class="media-container">
									<div class="media image">
										<a href="#" class="link-overflow"></a>
										<img src="ressources/images/test/test-website-thumbnail.png" alt="" class="img-bg fit-cover position-center">
									</div>
								</div>
							</div>
							<div class="swiper-slide slide">
								<div class="media-container">
									<div class="media image">
										<a href="#" class="link-overflow"></a>
										<img src="ressources/images/test/test-website-thumbnail.png" alt="" class="img-bg fit-cover position-center">
									</div>
								</div>
							</div>
							<div class="swiper-slide slide">
								<div class="media-container">
									<div class="media image">
										<a href="#" class="link-overflow"></a>
										<img src="ressources/images/test/test-website-thumbnail.png" alt="" class="img-bg fit-cover position-center">
									</div>
								</div>
							</div>
							<div class="swiper-slide slide">
								<div class="media-container">
									<div class="media image">
										<a href="#" class="link-overflow"></a>
										<img src="ressources/images/test/test-website-thumbnail.png" alt="" class="img-bg fit-cover position-center">
									</div>
								</div>
							</div>
							<div class="swiper-slide slide">
								<div class="media-container">
									<div class="media image">
										<a href="#" class="link-overflow"></a>
										<img src="ressources/images/test/test-website-thumbnail.png" alt="" class="img-bg fit-cover position-center">
									</div>
								</div>
							</div>
							<div class="swiper-slide slide">
								<div class="media-container">
									<div class="media image">
										<a href="#" class="link-overflow"></a>
										<img src="ressources/images/test/test-website-thumbnail.png" alt="" class="img-bg fit-cover position-center">
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<div style="height: 10000px;"></div>