---
layout: base.njk
permalink: index.html
---

<div class="home-hero default-bg">
	<div class="container">
		<div class="content row align-items-center">
			<div class="col-12 text-center">
				<h2>Surtitre au besoin</h2>
				<h1>Titre principal de la page, phrase d’accroche.</h1>
				<p><strong>Petite phrase description d’accompagnement à la phrase d’accroche, pour définir mieux la première phrase.</strong></p>

				<div class="hero-gallery">
					<div class="hero-gallery-slider swiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide slide">
								<div class="media-container">
									<div class="media image">
										<a href="#" class="link-overflow"></a>
										<img src="ressources/images/test/test-website-thumbnail.png" alt="" class="img-bg fit-cover position-center">
									</div>
								</div>
							</div>
							<div class="swiper-slide slide">
								<div class="media-container">
									<div class="media image">
										<a href="#" class="link-overflow"></a>
										<img src="ressources/images/test/test-website-thumbnail.png" alt="" class="img-bg fit-cover position-center">
									</div>
								</div>
							</div>
							<div class="swiper-slide slide">
								<div class="media-container">
									<div class="media image">
										<a href="#" class="link-overflow"></a>
										<img src="ressources/images/test/test-website-thumbnail.png" alt="" class="img-bg fit-cover position-center">
									</div>
								</div>
							</div>
							<div class="swiper-slide slide">
								<div class="media-container">
									<div class="media image">
										<a href="#" class="link-overflow"></a>
										<img src="ressources/images/test/test-website-thumbnail.png" alt="" class="img-bg fit-cover position-center">
									</div>
								</div>
							</div>
							<div class="swiper-slide slide">
								<div class="media-container">
									<div class="media image">
										<a href="#" class="link-overflow"></a>
										<img src="ressources/images/test/test-website-thumbnail.png" alt="" class="img-bg fit-cover position-center">
									</div>
								</div>
							</div>
							<div class="swiper-slide slide">
								<div class="media-container">
									<div class="media image">
										<a href="#" class="link-overflow"></a>
										<img src="ressources/images/test/test-website-thumbnail.png" alt="" class="img-bg fit-cover position-center">
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<div class="content-page">
	<section class="sect-container light-blue-gradient-bg">
		<div class="container">
			<div class="content-row row align-items-center">
				<div class="col-12 col-lg-5 block-col">
					<div class="d-flex align-items-center justify-content-center">
						<div class="about-image position-relative">
							<img src="ressources/images/test/image-placeholder.png" alt="" class="img-bg fit-cover position-center">
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-7 block-col">
					<h2>À propos de moi</h2>
					<p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</strong></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<div class="btns-group">
						<a href="#" class="btn btn-yellow">Consultez mon CV <div class="block-icon"><i class="icon-download"></i></div></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="sect-container light-blue-bg">
		<div class="container">
			<div class="content-row row large-gutters-60">
				<div class="col-12 col-lg-4 block-col">
					<div class="value-block d-flex align-items-center justify-content-center flex-column text-center">
						<i class="icon-crown yellow"></i>
						<p><strong>Valeur / force / qualité 1</strong></p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
				<div class="col-12 col-lg-4 block-col">
					<div class="value-block d-flex align-items-center justify-content-center flex-column text-center">
						<i class="icon-crown blue"></i>
						<p><strong>Valeur / force / qualité 2</strong></p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
				<div class="col-12 col-lg-4 block-col">
					<div class="value-block d-flex align-items-center justify-content-center flex-column text-center">
						<i class="icon-crown pink"></i>
						<p><strong>Valeur / force / qualité 3</strong></p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="sect-container blue-pink-yellow-gradient-bg border-bottom-radius">
		<div class="container">
			<div class="content-row row">
				<div class="col-12 block-col mb-5">
					<h2 class="text-center">Mes compétences de Développeuse Full Stack</h2>
				</div>
				<div class="col-12 col-lg-4 block-col">
					<div class="skill-block default-bg border-box">
						<h4>Sur-titre pertinent</h4>
						<h3>Compétence 1</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						<div class="icon d-flex justify-content-end mt-5">
							<img src="ressources/images/test/logoipsum-icon.svg" alt="">
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4 block-col">
					<div class="skill-block default-bg border-box">
						<h4>Sur-titre pertinent</h4>
						<h3>Compétence 2</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						<div class="icon d-flex justify-content-end mt-5">
							<img src="ressources/images/test/logoipsum-icon.svg" alt="">
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4 block-col">
					<div class="skill-block default-bg border-box">
						<h4>Sur-titre pertinent</h4>
						<h3>Compétence 3</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						<div class="icon d-flex justify-content-end mt-5">
							<img src="ressources/images/test/logoipsum-icon.svg" alt="">
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4 block-col">
					<div class="skill-block default-bg border-box">
						<h4>Sur-titre pertinent</h4>
						<h3>Compétence 4</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						<div class="icon d-flex justify-content-end mt-5">
							<img src="ressources/images/test/logoipsum-icon.svg" alt="">
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4 block-col">
					<div class="skill-block default-bg border-box">
						<h4>Sur-titre pertinent</h4>
						<h3>Compétence 5</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						<div class="icon d-flex justify-content-end mt-5">
							<img src="ressources/images/test/logoipsum-icon.svg" alt="">
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4 block-col">
					<div class="skill-block default-bg border-box">
						<h4>Sur-titre pertinent</h4>
						<h3>Compétence 6</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						<div class="icon d-flex justify-content-end mt-5">
							<img src="ressources/images/test/logoipsum-icon.svg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="sect-container default-bg">
		<div class="container"></div>
	</section>
</div>