---
layout: base.njk
permalink: index.html
---

<div class="home-hero default-bg">
	<div class="container">
		<div class="content row align-items-center">
			<div class="col-12 text-center">
				<h2>Surtitre au besoin</h2>
				<h1>Titre principal de la page, phrase d’accroche.</h1>
				<p><strong>Petite phrase description d’accompagnement à la phrase d’accroche, pour définir mieux la première phrase.</strong></p>

				<div class="hero-gallery">
					<div class="hero-gallery-slider swiper">
						<div class="swiper-wrapper">
							{% for project in collections.projects %}
								<div class="swiper-slide slide">
									<div class="media-container">
										<div class="media image">
											<a href="{{ project.url }}" class="link-overflow"></a>
											<img src="{{ project.data.mainImage }}" alt="{{ project.data.name }}" class="img-bg fit-cover position-center">
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="content-page">
	<section class="sect-container light-blue-gradient-bg">
		<div class="container">
			<div class="content-row row align-items-center">
				{% for zone in collections.zoneAboutHome %}
					{% ZoneAbout imageLink=zone.data.imageLink, imageAlt=zone.data.imageAlt, btnLink=zone.data.btnLink, btnLabel=zone.data.btnLabel, btnIcon=zone.data.btnIcon, btnColor=zone.data.btnColor, contentText=zone.content %}
				{% endfor %}
			</div>
		</div>
	</section>
	<section class="sect-container light-blue-bg">
		<div class="container">
			<div class="content-row row large-gutters-60">
				{% for zone in collections.zoneValueHome %}
					{% ZoneValue zoneSize=zone.data.zoneSize, icon=zone.data.icon, iconColor=zone.data.iconColor, title=zone.data.title, text=zone.data.text %}
				{% endfor %}
			</div>
		</div>
	</section>
	<section class="sect-container blue-pink-yellow-gradient-bg border-bottom-radius">
		<div class="container">
			<div class="content-row row">
				<div class="col-12 block-col mb-5">
					<h2 class="text-center">Mes compétences de Développeuse Full Stack</h2>
				</div>
				{% for zone in collections.zoneSkillHome %}
					{% ZoneSkill zoneSize=zone.data.zoneSize, title=zone.data.title, subtitle=zone.data.subtitle, text=zone.data.text, image=zone.data.image %}
				{% endfor %}
			</div>
		</div>
	</section>
	<section class="sect-container default-bg">
		<div class="container">
			<div class="content-row row">
				<div class="col-12 col-lg-12 block-col">
					<h2 class="text-center">Mes dernières réalisations</h2>
				</div>

				{% for project in collections.projects %}
					{% ZoneProject title=project.data.name, description=project.data.summary, languages=project.data.languages, technologies=project.data.technologies, tasks=project.data.tasks, librairies=project.data.libraries, url=project.url, btnColor=project.data.btnColor, image=project.data.mainImage %}
				{% endfor %}
			</div>
		</div>
	</section>
</div>