---
layout: base.njk
title: Mes réalisations
permalink: realisations.html
---

<div class="content-hero default-bg">
	<div class="container">
		<div class="content row align-items-center">
			<div class="col-12">
				<h1>{{ title }}</h1>
			</div>
		</div>
	</div>
</div>

<p>Ici, les projets au complet!</p>